.content {
  padding: 48px 0;

  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
  align-items: start;
}

@media (min-width: 1280px) {
  .content {
    grid-template-columns: 360px 1fr;
    column-gap: 64px;
  }
}

.loadMoreBtn {
  display: block;
  margin: 40px auto 0;

  background-color: var(--white);
  border: 1px solid var(--light-grey);
  color: var(--main);

  transition: border-color var(--transition-duration) var(--transition-function);
}

.loadMoreBtn:hover,
.loadMoreBtn:focus {
  background-color: var(--white);
  border-color: var(--button-hover);
}

.infoMessage {
  font-weight: 600;
  text-align: center;
}
