.locationFilter {
  margin-bottom: 40px;
}

.label {
  display: block;
  color: #10182899;

  margin-bottom: 8px;
}

.inputWrapper {
  position: relative;
}

.inputIcon {
  position: absolute;
  top: 18px;
  left: 20px;
  pointer-events: none;
  fill: var(--text);
}

.input {
  display: block;
  width: 100%;
  height: 56px;
  padding: 0 16px 0 48px;

  border-radius: 12px;

  background-color: var(--inputs);
  border: none;
}

.inputWrapper:hover .inputIcon,
.inputWrapper:focus-within .inputIcon {
  fill: var(--main);
}

.filtersLabel {
  font-weight: 500;
  color: var(--text);
}

.categoryFilterWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btnContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchBtn {
  width: 166px;
}

button.resetBtn {
  background-color: transparent;
  border: 1px solid var(--button);
  color: var(--button);

  padding: 15px 48.5px;

  transition:
    color var(--transition-duration) var(--transition-function),
    background-color var(--transition-duration) var(--transition-function),
    border-color var(--transition-duration) var(--transition-function);
}

button.resetBtn:hover,
button.resetBtn:focus-visible {
  background-color: var(--button);
  border-color: var(--button);
  color: var(--white);
}
