.camperItem {
  padding: 24px;

  border-radius: 20px;
  border: 1px solid var(--light-grey);

  display: grid;

  grid-template-columns: 1fr;
  gap: 16px;
  align-items: start;
}

.camperItem > div:last-child {
  min-width: 0;
}

.imageWrapper {
  width: 100%;
  height: 320px;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1024px) {
  .camperItem {
    grid-template-columns: 292px 1fr;
    column-gap: 24px;
    row-gap: 0;
  }

  .imageWrapper {
    width: 292px;
    height: 320px;
  }
}

.camperHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.camperName {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
}

.camperHeaderInfo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.heartBtn {
  background: none;
  border: none;
  padding: 0;
}

.heartBtnIcon {
  fill: var(--main);
  stroke: transparent;
  stroke-width: 1.5px;
  transition:
    fill var(--transition-duration) var(--transition-function),
    stroke var(--transition-duration) var(--transition-function);
}

.heartBtn:hover,
.heartBtn:focus-visible {
  outline: none;
}

.heartBtn:hover .heartBtnIcon,
.heartBtn:focus-visible .heartBtnIcon {
  fill: var(--button);
}

.heartBtnActive .heartBtnIcon {
  fill: var(--button);
}

.heartBtn.heartBtnActive:hover .heartBtnIcon,
.heartBtn.heartBtnActive:focus-visible .heartBtnIcon {
  fill: var(--main);
}

.camperDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  color: var(--text);

  margin-bottom: 24px;
}

.categoryList {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;

  margin-bottom: 24px;
}

.showMoreBtn {
  padding: 16px 40px;
}
