.label {
  display: block;

  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;

  position: relative;
}

.label::after {
  content: '';
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--light-grey);
}

.categoryList {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.categoryButton {
  width: 112px;
  height: 96px;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;

  border-radius: 12px;
  border: 1px solid var(--light-grey);
  background-color: var(--white);

  font-weight: 500;
  letter-spacing: -0.005em;

  transition: border-color var(--transition-duration) var(--transition-function);
}

.categoryButton:hover,
.categoryButton:focus-visible {
  border-color: var(--button);
}

.active {
  border-color: var(--button);
}
