.link {
  display: inline-block;

  font-weight: 500;
  letter-spacing: -0.005em;
  color: var(--white);
  background-color: var(--button);
  border-radius: 200px;
  transition: background-color var(--transition-duration) var(--transition-function);
}

.link:hover,
.link:focus-visible {
  background-color: var(--button-hover);
}
