.content {
  border-radius: 10px;
  padding: 44px 52px;
  background-color: var(--inputs);

  display: flex;
  flex-direction: column;
  gap: 100px;
}

.categoryList {
  display: flex;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}

.infoTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  padding-bottom: 24px;
  margin-bottom: 24px;

  border-bottom: 1px solid var(--light-grey);
}

.tableInfo {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
